
@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}
body {
  font-family: 'Lexend Giga', sans-serif;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: #999 !important;
  opacity: 0.5 !important;
  margin: 0 6px !important;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out !important;
  margin-top:20px;
}

.swiper-pagination-bullet-active {
  background-color: #00363D !important;
  opacity: 1 !important;
  transform: scale(1.2) !important;
}

